// FONTS
$main-font: 'Lato-Regular', sans-serif;
$main-font_bold: 'Lato-Bold', sans-serif;
$main-font_black: 'Lato-Black', sans-serif;
$main-font_light: 'Lato-Light', sans-serif;
$main-font_italic: 'Lato-Italic', sans-serif;
$font-extra: "Open Sans", sans-serif;




// COLORS
$accent-color: #f16d7f;
$dark-color: #222222;
$dark-color-type2: #4d4d4d;
$dark-color-type3: #2f2f2f;
$dark-color-l: #646464;
$grey-color: #ececec;
$grey-color-light: #e6e6e6;
$white-color: #ffffff;
$dark-text-color: #b3b3b3;
$grey-text-color: #6f6e6e;
$input-placeholder-color: #ababab;
$button-close: #c0c0c0;
$grey-color-darkness: #9f9f9f;
$slide-dots-color: #d6d6d6;
$grey-color-footer: #898989;
$grey-color-pagination: #636363;
$accent-color-light: #f8f3f4;
$color-sort-pane: #f3f3f3;
$grey-icon-color: #a5a5a5;
$grey-color-type2: #5e5e5e;
$grey-color-type3: #7b7b7b;
$grey-color-type4 : #656565;
$grey-color-type5 : #4a4a4a;


// SETTINGS
$baseFontSize: 16px;
$larget-desktop-w: 1270px;
$desktop-w: 1170px;
$small-desktop-w: 997px;
$port-tablets-w: 778px;
$port-tablets-min-w: 540px;
$big-mobile-w: 480px;
$small-mobile-w: 320px;
